body{background-color: #F8FFFF;}
h1{color: #1D286F; font-family: cursive; font-size: 45px}
p{color: #0B1139; font-family: serif; font-size: 23px}
a{color: #4FDB1E; font-family: cursive; font-size: 19px; text-decoration: none;}
a:hover{color:#F2FD02}